.header {
    background: $_background-color_gradient;
    position:fixed;
    width: 100%;
    z-index: 9999;
    .container {
        max-width: 1210px;
        padding: 0 20px;
    }
}
.header_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 90px;
}
.logo {
    & a {
        @include header_logo_a;
    }
}
.header_search-catalog {
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 0 15px;
    font-size: $_font-size_text_middle;
}
.header_icon {
    display:flex;
    justify-content:space-between;
    align-items:center;
    a {
        display: flex;
        flex-direction: column;
        margin: 15px;
    }
}
.fa-solid {
    color: white;
    font-size: $_font-size_text_big;
    margin: 5px auto;
}
.header_icon_text {
    color: rgb(255, 255, 255, 0.6);
    font-size: $_font-size_text_middle;
    &:hover {
        color: white;
    }
}

.basket-wrapper {
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 9990;
    max-width: none;
    top: 20%;
    bottom: 20%;
    left: 20%;
    right: 20%;
    padding: 20px 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px hwb(0 45% 55%);
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(255, 255, 255);
        border-radius: 20px;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
}
.title_basket-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 8px;
    h3 {
        @include h3_wrapper_product_info;
        z-index: 9991;
    }
    .button_basket_all-delete {
        @include wrapper_button;
        padding: 8px 12px;
        border-radius: 10px;
        z-index: 9991;
    }
    .button_basket_close {
        border: none;
        background: none;
        cursor: pointer;
        font-size: 36px;
        font-weight: 500;
        color: black;
        z-index: 9991;
    }
}
.products_basket-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    .product-name_basket-wrapper {
        @include h3_wrapper_product_info;
        z-index: 9991;
    }
    .product-price_basket-wrapper {
        font-size: 16px;
        z-index: 9991;
    }
    .button_basket_delete {
        @include wrapper_button;
        padding: 8px 12px;
        border-radius: 10px;
        z-index: 9991;
    }
}
.basket_buttons_minus_plus {
    display: block;
    border-radius:15px;
    @include wrapper_button;
    padding: 5px 15px;
    margin: 0 5px;
    cursor: pointer;
    z-index: 9991;
    &:hover {
        background-color: $_button_hover;
    }
    &:active {
        background-color: $_button_active;
    }
}
.basket_minus_plus {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin: 0 5px;
    z-index: 9991;
}
.total-price_basket-wrapper {
    font-size: 16px;
}

.basket-wrapper.hidden {
    transform: translateX(100%);
}
.basket-wrapper:not(.hidden) {
    transform: translateX(0);
}