.wrapper {
    .container {
        padding-bottom: 30px;
    }
}
.wrapper_title {
    margin: 0 0 20px 60px;
    @include wrapper_title;
}
.wrapper_products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wrapper_product {
    display: flex;
    flex-direction: column;
    width: 180px; 
    margin: 0 5px 35px 5px; 
}
.wrapper_product_img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-bottom: 15px;
    position: relative;
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
        transition: 0.4s;
    }
}
.wrapper_discount {
    position: absolute;
    padding: 5px;
    bottom: 5%;
    left: 8%;
    border-radius: 90%;
    background-color: rgba(255, 0, 0, 0.65);
    color: white;
    font-weight: bold;
}
.wrapper_product_info {
    display: flex;
    flex-direction: column;
    width: 180px;
    margin-bottom: 10px;
    a {
        white-space: nowrap;
        overflow: hidden; 
        text-overflow: ellipsis;
        h3 {
            @include h3_wrapper_product_info;
            margin-bottom: 5px;
            white-space: nowrap;
            overflow: hidden; 
            text-overflow: ellipsis;
        }
        span {
            display: inline-block;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
.wrapper_product_prices {
    display: flex;
    justify-content: start;
    align-items: center;
    .wrapper_product_price-new {
        @include wrapper_product_price-new;
        margin: 3px 6px 3px 3px;
    }
    .wrapper_product_price-old {
        @include wrapper_product_price-old;
        margin: 3px;
    }
}
.quantity_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px 10px 15px;
}
.buttons_minus_plus {
    @include buttons_minus_plus;
}
.minus_plus {
    @include minus_plus;
}
.button {
    display: block;
    text-align: center;
    justify-self: end;
    width: 100%;
    @include wrapper_button;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    &:hover {
        background-color: $_button_hover;
    }
    &:active {
        background-color: $_button_active;
    }
    .fa-solid {
        font-size: $_font-size_text_min;
        margin: 0 8px 0 0;
    }
}